<h1>All Schedules</h1>
<% @schedules.each do |schedule| %>
  <h2><%= schedule.name %></h2>
  <p>Plant id: <%= schedule.plant_id %></p>
  <p>User id: <%= schedule.user_id %></p>
  <p>Image: <%= schedule.image_url %></p>
  <p>Watering Start Date: <%= schedule.watering_start_date %></p>
<% end %>