<h1>New Schedule</h1>
<%= form_with model: @schedule do |form| %>
  <div>
    <%= form.label :plant_id %>
    <%= form.text_field :plant_id %>
  </div>
  <div>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
   <div>
    <%= form.label :watering_start_date %>
    <%= form.text_field :watering_start_date %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>